#!/usr/bin/env bash

cat << EOF > $HOME/chain-exporter.service
[Unit] 
Description=Running Chain Exporter for Injective Chain
ConditionPathExists=/home/dev/bin/chain-exporter
After=network.target 

[Service] 
Type=simple 
User=dev
Group=dev
LimitNOFILE=65535 
Restart=on-failure 
RestartSec=10 
StartLimitInterval=60
ExecStart=/home/dev/bin/chain-exporter

[Install] 
WantedBy=multi-user.target
EOF
