#!/usr/bin/env bash

cat << EOF > $HOME/mintscan.service
[Unit] 
Description=Running a Mintscan API for Injective Chain
ConditionPathExists=/home/dev/bin/mintscan
After=network.target 

[Service] 
Type=simple 
User=dev
Group=dev
LimitNOFILE=65535 
Restart=on-failure 
RestartSec=10 
StartLimitInterval=60 
ExecStart=/home/dev/bin/mintscan

[Install] 
WantedBy=multi-user.target
EOF